.page-not-found {
  background-color: #efefef;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-not-found-card {
  width: 90%;
  background: white;
  border: 1px solid #ccc;

  @media (min-width: 1024px) {
    width: 400px;
  }
}

.page-not-found-form {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;

  input {
    width: 90%;
  }
}

.page-not-found-card-header {
  background: #000;
  color: white;
  position: relative;
  padding: 5px 10px;
  border: solid 1px #000;

  h3 {
    margin: 0;
    text-align: center;
    font-size: 14px;
  }

  span {
    position: absolute;
    right: 10px;
    z-index: 10;
    top: 2.5px;
    font-size: 10px;
    color: #666;
  }
}

.page-not-found-cart-body {
  padding: 2rem 0.5rem 1rem 0.5rem;
}
