.embed-code {
  iframe {
    width: 100%;
  }
}

.simple-paragraph {
  margin-bottom: 1.5rem;

  p {
    a {
      color: var(--green-link);
      font-weight: 450;
    }
  }
}

.title-picture {
  h4 {
    // margin-bottom: 1rem;
  }
  a {
    display: block;
    font-weight: normal;
    font-size: .6rem;
    text-align: center;
    margin: 1rem 0;
  }
}

.row-sale-section {
  .slider-image {
    min-height: 7rem;
  }
}