.pages__edit-buttons {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem 0 0.5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  z-index: 1;

  a.btn {
    width: 10%;
    margin: 0 0.5rem;
  }
}
