.search-result-page {
  .title {
    width: fit-content;
  }

  .category-link-active {
    font-weight: 500;
  }

  img#loader {
    width: 7rem;
  }

  .not-found-content {
    width: fit-content;
    font-size: 12px;
    color: #414042;
    padding: 1rem 0;
  }

  .ais-Panel {
    width: 80%;
    font-family: "Graphik Web", sans-serif;
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;

    &:not(:last-of-type) {
      border-bottom: 1px solid #000;
    }

    .ais-Panel-header {
      h4 {
        margin: 0.5rem 0;
        text-transform: capitalize;
      }
    }

    .ais-RefinementList {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 12px;

        .ais-RefinementList-checkbox {
          position: relative;
          display: inline-flex;
          width: 10px;
          height: 10px;
          border: 1px solid #000;
          margin-right: 0.5rem;
          justify-content: center;
          align-items: center;

          .ais-RefinementList-isRefined {
            width: 5px;
            height: 5px;
            background-color: #000;
          }
        }

        li {
          margin: 0.3rem 0;
          display: flex;
          align-items: center;

          label {
            cursor: pointer;
          }
          label:hover {
            text-decoration: underline;
          }
        }
      }
      img {
        display: block;
        margin: 1rem auto 0.2rem auto;
        cursor: pointer;
      }
    }

    /* Collection */
    .brands {

      .brand-filter {
        max-height: 50rem;
        overflow-y: auto;
      }

      /* width */
      ::-webkit-scrollbar {
        width: 3px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }

  .search-product-list {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 15px;
    width: 100%;
    border-top: 0.5px solid #000;
    .ais-ClearRefinements {
      button {
        border: none;
        background: transparent;
        color: #1a1a1a;
        cursor: pointer;
      }
    }
    .product-list {
      width: 100%;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;

      .d-block {
        background-color: unset;
        margin-bottom: 0 !important;
        .embed-responsive {
          width: 80%;
        }
      }

      img {
        margin: 20% auto;
        @media (max-width: 767px) {
          width: 80% !important;
        }
      }

      .product-list-sort {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        .sort-label {
          color: gray;
        }
        .dropdown {
          button {
            font-weight: 400;
            text-align: left;
            font-family: 'Graphik Web',sans-serif;
            line-height: 1rem;
            font-size: 12px;
            box-sizing: border-box;
            color: #1a1a1a;
            text-decoration: none;
            background-color: transparent;
            box-shadow: none;
            outline: 0;
            border: none;
            cursor: pointer;
            &::after {
              position: absolute;
              content: "";
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
              top: 40%;
              right: 0px;
              width: 6px;
              height: 6px;
              border: 2px solid #000;
              border-top: 0;
              border-right: 0;
            }
          }
          .dropdown-menu {
            transform: translate(0, 0) !important;
            inset: unset !important;
            left: unset;
            right: 0 !important;
            .dropdown-item:active {
              color: #1a1a1a;
              background-color: transparent;
            }
          }
        }
        .view-all {
          cursor: pointer;
          margin-right: 6px;
          border: none;
          background: transparent;
          outline: none;
          color: #1a1a1a;
          &:focus {
            outline: 5px auto #1a1a1a;
            padding: 0 5px;
          }
        }
      }
    }
  }
}

/* FILTER OPTIONS */
.filter-container {
  .filter-group {
    padding-top: 0.5rem;
    width: 100%;

    #question-tooltip {
      position: relative;

      span[data-tooltip="tooltip-hide"] {
        display: none;
      }

      span[data-tooltip="tooltip-show"] {
        position: absolute;
        display: block;
        z-index: 100;
        width: 15rem;
        left: 50%;
        transform: translate(0, -50%);
        background-color: #000;
        color: #fff;
        padding: 0.4rem;
        text-align: justify;
      }
    }

    #typeOptions {
      overflow-y: scroll;
      max-height: 8rem;

      label {
        display: flex;
        align-items: center;
      }
    }

    #priceFilter {
      .active {
        font-weight: bold;
      }
    }

    .filter-content {
      display: flex;
      flex-direction: column;

      .filter-price__title {
        padding: 0.3rem 0;
        cursor: pointer;
      }
    }

    #colourFilter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 1rem;

      label {
        .color-picker {
          background-color: unset;
          width: 30px;
          height: 30px;
          margin: 0 5% 0 0;
          border: unset;
          cursor: pointer;
          border-radius: 50%;
          appearance: none;
        }

        input[type="color"]::-webkit-color-swatch-wrapper {
          padding: 0;
        }
        input[type="color"]::-moz-color-swatch-wrapper {
          padding: 0;
        }
        input[type="color"]::-webkit-color-swatch {
          border: none;
          border-radius: 50%;
        }
        input[type="color"]::-moz-color-swatch {
          border: none;
          border-radius: 50%;
        }
      }

      .active {
        border: 2px solid black;
      }
    }

    .color-item {
      cursor: pointer;
      border-radius: 50%;
      width: 21px;
      height: 21px;
    }
  }
  .clear-filter {
    background-color: #000;
    color: #fff;
    font-weight: 500;
    border: unset;
    width: 80%;
    padding: 0.2rem 0;
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .search-result-page {
    .search-product-list {
      grid-template-columns: 100%;
      .product {
        .embed-responsive-item {
          left: 10%;
        }
      }
    }
  }
}

.ku-view-all {
  background: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  text-align: left;
  font-family: 'Graphik Web',sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1rem;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  color: #101010;
  &:hover {
    text-decoration: underline;
  }
}
