@import "./bootstrap-assets/mixins";
@import "./bootstrap-assets/variables";

.modal {
    color: rgb(104, 101, 101);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    .btn-close {
        right: 0px;
        top: 0px;
        position: absolute;
        z-index: 6;
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin-right: 0px;
        margin-top: 10px;
        font-size: 12px;
        padding: 0;
    }
    .modal-dialog {
        box-sizing: border-box;
        border-radius: 2px;
        border-style: none;
        border-width: 0px;
        border-color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        padding: 0 11px !important;
        max-width: 450px;
        max-height: 450px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        margin: 0;
        &.px-0 {
            padding: 0 !important;
        }
        &.modal-fullscreen-xl-lg {
            .modal-content {
                height: fit-content;
                padding-bottom: 30px;
                .slide-container {
                    @include media-breakpoint-down(sm) {
                        max-width: 50%;
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                max-height: 100%;
                width: 100vw;
                max-width: none;
                height: 100% !important;
                margin: 0 !important;
            }
        }
        
        .modal-content {
            border: none;
        }
        @media (max-width: 576px) {
            max-width: 310px;
        }
        &.submitted {
            .modal-header {
                padding: 20px;
                .message {
                    text-align: center;
                    padding: 10px 6px;
                    div {
                        &:last-of-type {
                            font-weight: 500;
                            font-size: 16px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }
    .modal-header {
        flex-direction: column;
        font-size: 24px;
        font-weight: 700;
        border-bottom: none;
        padding: 20px 20px 10px;
        h5 {
            font-weight: 700;
            color: rgb(104, 101, 101);
        }
        .image-container {
            display: flex;
            justify-content: flex-start;
            padding: 10px 6px;
            position: relative;
            flex: 0 1 auto;
            margin: 0px auto;
            img {
                max-width: 100%;
                width: 100px;
                height: auto;
            }
        }
    }
    .modal-body {
        margin: 0 auto;
        padding: 0;
        font-size: 14px;
        text-align: center;
        &.mx-0 {
            margin: 0;
        }
    }
    .modal-footer {
        flex-direction: column;
        align-content: center;
        border-top: none;
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
            input {
                width: 100%;
                box-sizing: border-box;
                border-radius: 2px;
                padding: 0px 0px 0px 16px;
                height: 38px;
                text-align: left;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0px;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(180, 187, 195);
                &:focus-visible {
                    outline: none;
                    box-shadow: 0px 0px 5px 0px rgba(0, 100, 205, 1);
                    border: 1px solid rgb(208, 51, 31) !important;
                }
            }
            input::placeholder {
                color: rgb(180, 187, 195);
            }
            .btn {
                margin-top: 20px;
                background-color: rgb(135, 135, 135);
                outline: none;
                border: unset;
                background: rgb(135, 135, 135);
                border-radius: 0px;
                border-style: none;
                border-color: rgb(0, 0, 0);
                border-width: 0px;
                color: rgb(255, 255, 255);
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0px;
                line-height: 1;
                white-space: normal;
                padding: 11px 10px;
                text-align: center;
                word-break: break-word;
                cursor: pointer;
                height: auto;
            }
        }
    }
    .btn, .btn-close {
        &:focus {
            box-shadow: none;
        }
    }
}